<app-navbar></app-navbar>
<main id="main">
  <section id="events" class="events">
    <div style="text-align: center;padding: 15px;margin-top: 15px; background-color: #0dcaf0">
      <h4 style="text-align: center;margin-top: 20px;">QUẢN LÝ BÀI VIẾT</h4>
    </div>
    <div class="container" data-aos="fade-up" style="margin-top: 15px">

      <div class="row" >
        <div class="col-md-6 d-flex align-items-stretch"  *ngFor = "let item of list">
          <div class="card" >
            <div class="card-img">
              <img src="/assets/img/events-1.jpg" alt="...">
            </div>
            <a  class="card-body" style="text-decoration: none !important;" >
              <!--              <img data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showConfirm(item.idPost)" style="float: right; width: 20px;height: 20px" src="https://img.icons8.com/material-sharp/2x/filled-trash.png">-->
                            <img routerLink="/admin-update/{{item.idPost}}" style="margin-right: 5px;float: right; width: 20px;height: 20px" src="https://img.icons8.com/external-basicons-solid-edtgraphics/2x/external-Pen-office-stationery-basicons-solid-edtgraphics.png">
              <p>{{item.user.name}}</p>
              <h5  class="card-title" routerLink="/list-post/{{item.idPost}}">{{item.title}}</h5>
              <p class="fst-italic text-center">{{item.createAt}}</p>
              <p class="card-text">{{item.description}}</p>
            </a>
          </div>
        </div>
      </div>
      <!--      <mat-paginator [length]="totalElements"-->
      <!--                     [pageSizeOptions]="[10, 20, 30, 40, 50]"-->
      <!--                     aria-label="Select page"-->
      <!--                     (page)="nextPage($event)">-->
      <!--      </mat-paginator>-->
      <mat-paginator [length]="totalElements"
                     [pageSizeOptions]="[3, 6, 9, 15]"
                     aria-label="Select page"
                     (page)="nextPage($event)">
      </mat-paginator>
    </div>

  </section>

</main>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<app-footer></app-footer>


<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header" style="background-color: #dc3545; color: white">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Delete confirm</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--        <input type="hidden" [(ngModel)]="idDelete">-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        Bạn có thực sự muốn xóa bài Blog này không?-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--        <button (click)="deletePost(idDelete)" class="btn btn-primary" data-bs-dismiss="modal">Delete</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
