
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Blog K</h2>
      <p>Cuộc sống là 10% những gì xảy ra với bạn và 90% là cách bạn phản ứng với nó</p>
    </div>
  </div>
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="/assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h2>{{post.title}}</h2>
          <p><i class="bi bi-alarm-fill"></i> Thời gian : {{post.createAt}}</p>
          <p><i class="bi bi-pencil-fill"></i> Mô tả : {{post.description}}</p>
          <p>{{post.content}}</p>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

</main><!-- End #main -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
