<app-header></app-header>
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Blog K</h2>
      <p>Cuộc sống là 10% những gì xảy ra với bạn và 90% là cách bạn phản ứng với nó</p>
    </div>
  </div>
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <h2>{{post.title}}</h2>
        <p><i class="bi bi-alarm-fill"></i> Thời gian : {{post.createAt}}</p>
        <p><i class="bi bi-pencil-fill"></i> Mô tả : {{post.description}}</p>
        <div [innerHTML]="post.content"></div>
      </div>
      <div style=";background-color: white" class="row" *ngIf="checkLogin">
        <div class="col-2">
        </div>
        <div class="col-8">
<!--          <button class="button1 button" ><i class="far fa-thumbs-up me-2"></i> Like {{totalLike}}</button>-->
<!--          <button class="button button1"><i class="far fa-comment-dots me-2"></i> Comment ({{commentList.length}})</button>-->
<!--          <button class="button button1"><i class="fas fa-share me-2"></i> Share</button>-->
          <div class="row" style="padding-left: 12px;padding-right: 12px">
            <div class="col-4" style="text-align: center;background-color: #f8f9fa;padding-top: 10px">
              <button class="button1 button" (click)="likePost()"><i class="far fa-thumbs-up me-2"></i> Thích ({{totalLike}})</button>
            </div>
            <div class="col-4" style="text-align: center;background-color: #f8f9fa;padding-top: 10px">
              <button class="button button1"><i class="far fa-comment-dots me-2"></i> Bình Luận ({{commentList.length}})</button>
            </div>
            <div class="col-4" style="text-align: center;background-color: #f8f9fa;padding-top: 10px">
              <button class="button button1"><i class="fas fa-share me-2"></i> Chia sẻ</button>
            </div>
          </div>


<!--            <button class="button1 button"><i class="far fa-thumbs-up me-2"></i> Thích</button>-->
<!--            <button class="button button1"><i class="far fa-comment-dots me-2"></i> Bình Luận ({{commentList.length}})</button>-->
<!--            <button class="button button1"><i class="fas fa-share me-2"></i> Chia sẻ</button>-->
          <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
            <div>
              <table *ngFor="let cmt of commentList">
                <tr>
                  <td rowspan="2" style="padding-right: 20px; padding-left: 10px"><img
                    (click)="getTimeLine(cmt.user.id)"
                    style="width: 40px;height: 40px"
                    src="{{cmt.user.avatar}}"></td>
                  <td style="font-style: italic;font-weight: bold;width: 562px; padding-top: 15px"
                      (click)="getTimeLine(cmt.user.id)">{{cmt.user.username}} <p style="font-style: italic;font-size: 13px;color: #0b5ed7;margin-bottom: 0px">{{ cmt.time | date:'MMM-d-y, H:mm:ss' }}</p></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td style="background-color: rgba(245,205,181,0.91);border-radius: 10px;padding: 10px;width: 562px">{{cmt.content}}</td>
                  <td style="text-align: right;width: 40px"><img *ngIf="cmt.user.id == idUser" style="margin-right: 5px; width: 15px;height: 15px" src="https://img.icons8.com/external-basicons-solid-edtgraphics/2x/external-Pen-office-stationery-basicons-solid-edtgraphics.png"></td>
                  <td style="padding-left: 15px"><img *ngIf="cmt.user.id == idUser" data-bs-toggle="modal" data-bs-target="#exampleModal"
                           style="float: right; width: 15px;height: 15px" (click)="showConfirm(cmt.idComment)"
                           src="https://img.icons8.com/material-sharp/2x/filled-trash.png"></td>
                </tr>
              </table>
            </div>
            <form class="d-flex flex-start w-100" [formGroup]="commentForm" (ngSubmit)="createCmt(post.idPost)">
              <div style="float: right;width: 100%;padding-top: 15px" class="">
                <textarea placeholder="Comment here.." class="form-control"
                          rows="4" formControlName="content"
                          style="background: #fff; height: 50px; width: 704px;border-radius: 10px"></textarea>
                <br>
                <div class="float-end mt-2 pt-1">
                  <button style="border-color: white;margin-right: 5px;background-color: lightgrey;color: black"
                          class="get-started-btn">Gửi
                  </button>
                  <button style="border-color: white;background-color: lightgrey;color: black;margin-left: 10px"
                          class="get-started-btn" (click)="clearForm()">Hủy
                  </button>
                </div>
              </div>
            </form>
          </div>
        <div class="col-2">
        </div>
      </div>
    </div>
  </div>
  </section><!-- End About Section -->

</main><!-- End #main -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
  class="bi bi-arrow-up-short"></i></a>
<app-footer></app-footer>
<style>.button {
  width: 241px;
  border: none;
  color: black;
  padding: 11px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 1px;
}

.button1:hover {
  background-color: deepskyblue;
  color: white;
}</style>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #dc3545; color: white">
        <h5 class="modal-title" id="exampleModalLabel">Delete confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <input type="hidden" >
      </div>
      <div class="modal-body">
        Bạn có thực sự muốn xóa bài bình luận này không?
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="deleteCmt(idDelete)" type="button" class="btn btn-primary" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

