
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a routerLink="">BLOG K</a></h1>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="active" routerLink="">Trang chủ</a></li>
        <li><a *ngIf="checkLogin" routerLink="/create">Tạo blog</a></li>
        <li class="dropdown" *ngIf="!checkLogin"><a><span>Đăng nhập</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a *ngIf="!checkLogin" routerLink="/login">Đăng Nhập</a></li>
            <li><a *ngIf="!checkLogin" routerLink="/register">Đăng Ký</a></li>
          </ul>
        </li>

      </ul>
      <form [formGroup]="searchForm" (submit)="search()" style="margin-left: 20px" class="form-inline d-flex justify-content-center md-form form-sm mt-0">
        <input formControlName="title" class="form-control form-control-sm ml-3 w-75" type="search" placeholder="Tìm kiếm"
               aria-label="Search">
        <button type="submit" style="margin-left: 5px;border-radius: 25%;color: black;background-color: #3ac162"> <i class="bi bi-search" aria-hidden="true"></i></button>
      </form>

    </nav>
    <a *ngIf="checkLogin" style="text-decoration: none" routerLink="/my-page" class="get-started-btn">{{name}}</a>
    <a *ngIf="checkLogin" style="color: springgreen; text-decoration: none;"
       aria-label="Angular Audio Player"
       mat-button tabindex="0" aria-disabled="false" routerLink="/my-page">
    <span class="mat-button-wrapper">
      <img  style="border-radius: 50%" src="" alt="angular" class="image-change" [src]=avatar width="40px" height="40px"></span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
    </a><span class="example-spacer"></span>
    <a *ngIf="checkLogin" (click)="logOut()" class="get-started-btn">Đăng xuất</a>
  </div>
</header>
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1>Chào mừng bạn đến với BLOG K</h1>
    <h2>Hãy chia sẻ những điều thú vị</h2>
    <a routerLink="create" class="btn-get-started">BẮT ĐẦU</a>
  </div>
</section>

<main id="main">
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Trang Chủ</h2>
      <p>Vết thương không lành theo cách chúng ta muốn, chúng lành theo cách chúng cần. Cần có thời gian để vết thương mờ dần thành sẹo. Cần có thời gian để quá trình chữa bệnh diễn ra. Hãy cho bản thân thời gian đó. Hãy nhẹ nhàng với vết thương của bạn. Hãy nhẹ nhàng với trái tim của bạn. Bạn xứng đáng được chữa lành</p>
    </div>
  </div>
  <section id="events" class="events" >
    <div class="container" data-aos="fade-up">

      <div class="row" >
        <div class="col-md-6 d-flex align-items-stretch"  *ngFor = "let item of list">
          <div class="card" >
            <div class="card-img">
              <img src="/assets/img/events-1.jpg" alt="...">
            </div>
            <a  class="card-body">
              <div class="row">
                <div class="col-1"> <img (click)="getTimeLine(item.user.id)" style="height: 25px;width: 25px" src="{{item.user.avatar}}">
                </div>
                <div class="col-10"> <h5 (click)="getTimeLine(item.user.id)">{{item.user.name}}</h5>
                </div>
              </div>
              <h5  class="card-title"  routerLink="/list-post/{{item.idPost}}">{{item.title}}</h5>
              <p class="fst-italic text-center">{{item.createAt}}</p>
              <p class="card-text">{{item.description}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<app-upload-avatar (giveURLtoCreate)="onChangeAvatar($event)"></app-upload-avatar>
<app-footer></app-footer>
