<app-navbar></app-navbar>
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1>Chào mừng bạn đến với BLOG K</h1>
    <h2>Hãy chia sẻ những điều thú vị</h2>
    <a routerLink="create" class="btn-get-started">BẮT ĐẦU</a>
  </div>
</section>
<main id="main">
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Trang Chủ</h2>
      <p>Vết thương không lành theo cách chúng ta muốn, chúng lành theo cách chúng cần. Cần có thời gian để vết thương mờ dần thành sẹo. Cần có thời gian để quá trình chữa bệnh diễn ra. Hãy cho bản thân thời gian đó. Hãy nhẹ nhàng với vết thương của bạn. Hãy nhẹ nhàng với trái tim của bạn. Bạn xứng đáng được chữa lành</p>
    </div>
  </div>
  <section id="events" class="events" >
    <div class="container" data-aos="fade-up">

      <div class="row" >
        <div class="col-md-6 d-flex align-items-stretch"  *ngFor = "let item of list">
          <div class="card" >
            <div class="card-img">
              <img src="/assets/img/events-1.jpg" alt="...">
            </div>
            <a  class="card-body">
              <h5  class="card-title"  routerLink="/list-post/{{item.idPost}}">{{item.title}}</h5>
              <p class="fst-italic text-center">{{item.createAt}}</p>
              <p class="card-text">{{item.description}}</p>
            </a>
          </div>
        </div>
      </div>
<!--      <mat-paginator [length]="totalElements"-->
<!--                     [pageSizeOptions]="[10, 20, 30, 40, 50]"-->
<!--                     aria-label="Select page"-->
<!--                     (page)="nextPage($event)">-->
<!--      </mat-paginator>-->
      <mat-paginator [length]="totalElements"
                     [pageSizeOptions]="[10, 20, 30, 50]"
                     aria-label="Select page"
                     (page)="nextPage($event)">
      </mat-paginator>
    </div>

  </section>
</main>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
