
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a routerLink="">BLOG K</a></h1>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="active" routerLink="">Trang chủ</a></li>
        <li><a class="active" *ngIf="checkLogin" routerLink="/create">Tạo blog</a></li>
        <li class="dropdown" *ngIf="!checkLogin"><a><span>Đăng nhập</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a *ngIf="!checkLogin" routerLink="/login">Đăng Nhập</a></li>
            <li><a *ngIf="!checkLogin" routerLink="/register">Đăng Ký</a></li>
          </ul>
        </li>

      </ul>
      <form style="margin-left: 20px" class="form-inline d-flex justify-content-center md-form form-sm mt-0">
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Tìm kiếm"
               aria-label="Search">
        <button style="margin-left: 5px;border-radius: 25%;color: black;background-color: #3ac162"> <i class="bi bi-search" aria-hidden="true"></i></button>
      </form>

    </nav>
    <a *ngIf="checkLogin" style="text-decoration: none" routerLink="/my-page" class="get-started-btn">{{name}}</a>
    <a *ngIf="checkLogin" style="color: springgreen; text-decoration: none;"
       aria-label="Angular Audio Player"
       mat-button tabindex="0" aria-disabled="false" routerLink="/my-page">
    <span class="mat-button-wrapper">
      <img  style="border-radius: 50%" src="" alt="angular" class="image-change" [src]=avatar width="40px" height="40px"></span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a><span class="example-spacer"></span>
    <a *ngIf="checkLogin" (click)="logOut()" class="get-started-btn">Đăng xuất</a>
  </div>
</header>
