<app-header></app-header>
<div  class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>Blog của </h2>
    <p>Nếu chỉ đọc những cuốn sách người khác đã đọc, bạn sẽ chỉ biết những điều người khác đã biết</p>
  </div>
</div>
<main id="main">

  <!-- ======= Events Section ======= -->
  <section id="events" class="events" >
    <div class="container" data-aos="fade-up">

      <div class="row" >
        <div class="col-md-6 d-flex align-items-stretch"  *ngFor = "let item of list">
          <div class="card" >
            <div class="card-img">
              <img src="/assets/img/events-1.jpg" alt="...">
            </div>
            <a  class="card-body" >
              <p routerLink="/friend-page">{{item.user.name}}</p>
              <h5  class="card-title" routerLink="/list-post/{{item.idPost}}">{{item.title}}</h5>
              <p class="fst-italic text-center">{{item.createAt}}</p>
              <p class="card-text">{{item.description}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Events Section -->

</main><!-- End #main -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<app-footer></app-footer>

