
.button1 {
  width: 200px;
  height: 40px;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 40%;
  background-color: white;
  color: black;
  border: 2px solid black;
  margin-bottom: 20px;
}

form {
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
}

.input1 {
  margin-left: 20px;
  width: 95%;
  height: 30px;
  border-radius: 4px;
}

h4 {
  font-family: Script;
  font-size: 18px;
}
