<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<section class="h-100 gradient-form"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                  <input type="text" name="name" [(ngModel)]="form.name" id="form3Example1cg"
                         class="form-control form-control-lg" formControlName="name"/>
                  <div *ngIf="!name?.valid && name?.touched">
                    <div [hidden]="!name?.errors?.['required']">
                      <p style="color: red">Name is not required</p>
                    </div>
                  </div>
                  <div class=" form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Username</label>
                    <input type="text" id="" name="username" [(ngModel)]="form.username"
                           class="form-control form-control-lg" formControlName="username"/>
                    <div *ngIf="!username?.valid && username?.touched">
                      <div [hidden]="!username?.errors?.['required']">
                        <p style="color: red">Username is not required</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <!--                  <div *ngIf="!email.valid && email.touched">-->
                  <!--                    <div [hidden]="!email.errors.required">-->
                  <!--                      <p style="color: red">Email is not required</p>-->
                  <!--                    </div>-->
                  <!--                    <div [hidden]="!email.errors.email">-->
                  <!--                      <p style="color: red">Email was wrong syntax</p>-->
                  <!--                    </div>-->
                  <!--                  </div>-->
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input type="email" [(ngModel)]="form.email" id="form3Example3cg" class="form-control form-control-lg"
                         formControlName="email"/>
                  <div *ngIf="!email?.valid && email?.touched">
                    <div [hidden]="!email?.errors?.['required']">
                      <p style="color: red">Email is not required</p>
                    </div>
                    <div [hidden]="!email?.errors?.['email']">
                      <p style="color: red">Email was wrong syntax</p>
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">

                  <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" [(ngModel)]="form.password" id="form3Example4cg"
                         class="form-control form-control-lg" formControlName="password"/>
                  <div *ngIf="!password?.valid && password?.touched">
                    <div [hidden]="!password?.errors?.['required']">
                      <p style="color: red">Password is not required!</p>
                    </div>
                    <div [hidden]="!password?.errors?.['minlength']">
                      <p style="color: red">Password min length is 6!</p>
                    </div>
                    <div [hidden]="!password?.errors?.['maxlength']">
                      <p style="color: red">Password max length is 8!</p>
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg"
                         formControlName="confirmPassword" pattern="{{password?.value}}"/>
                  <div *ngIf="!confirmPassword?.valid && confirmPassword?.touched">
                    <div [hidden]="!confirmPassword?.errors?.['required']">
                      <p style="color: red">Confirmpassword is not required!</p>
                    </div>
                    <div [hidden]="!confirmPassword?.errors?.['pattern']">
                      <p style="color: red">Password is fault!</p>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-center">
                  <button [disabled]="!registerForm.valid"
                          class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register
                  </button>
                </div>
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a routerLink="/login"
                                                                                        class="fw-bold text-body"><u>Login
                  here</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
