<app-header></app-header>
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1>Chào mừng bạn đến với BLOG của {{name}}</h1>
    <h2>Hãy chia sẻ những điều thú vị</h2>
    <a routerLink="create" class="btn-get-started">BẮT ĐẦU</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Events Section ======= -->
  <section id="events" class="events" >
    <div class="container" data-aos="fade-up">

      <div class="row" >
        <div class="col-md-6 d-flex align-items-stretch"  *ngFor = "let item of list">
          <div class="card" >
            <div class="card-img">
              <img src="/assets/img/events-1.jpg" alt="...">
            </div>
            <a  class="card-body" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <img (click)="showConfirm(item.idPost)" style="float: right; width: 20px;height: 20px" src="https://img.icons8.com/material-sharp/2x/filled-trash.png">
              <p routerLink="/friend-page">{{item.user.name}}</p>
              <h5  class="card-title" routerLink="/list-post/{{item.idPost}}">{{item.title}}</h5>
              <p class="fst-italic text-center">{{item.createAt}}</p>
              <p class="card-text">{{item.description}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Events Section -->

</main><!-- End #main -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<app-footer></app-footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có thực sự muốn xóa bài Blog này không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
