<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>BlogK Team</h3>
          <p>
            CodeGym Mỹ Đình <br>
            Số 23, Lô TT-01, khu đô thị Mon City<br>
            Mỹ Đình 2, Nam Từ Liêm, Hà Nội <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Link liên quan</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Trang chủ</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Về chúng tôi</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Dịch vụ</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Điều khoản</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Chính sách riêng tư</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Các Dịch vụ</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Thiết kế web</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Phát triển web</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Quản lý sản phẩm</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Thiết kế đồ họa</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Nhận bản tin</h4>
          <p>Đăng ký để nhận các bài viết từ chúng tôi qua email</p>
          <form action="" method="post">
            <input type="email" name="email" placeholder="Email"><input type="submit" value="Đăng ký">
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>BlogK Team</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
<!--         All the links in the footer should remain intact.-->
<!--         You can delete the links only if you purchased the pro version.-->
<!--         Licensing information: https://bootstrapmade.com/license/-->
<!--         Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/-->
        Designed by <a href="https://bootstrapmade.com/">BlogK Team</a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
